<% if (title) { %>
<h1><%= title %></h1>
<% } else {
    res.redirect('/')
} %>

<% if (errors) { %>
<ul class="notice">
<% errors.array().forEach(error => { %>
    <li><%= error.msg %></li>
<%  }) %>
</ul>
<% } %>

<form id="updateForm" action="/inv/update" method="post">
    <fieldset>
        <label for="dropdown" class="add">Modify Vehicle*</label>
        <%- classificationSelect %>
        <label for="invMake" class="add">Make* <input type="text" id="make" name="inv_make" required <% if (locals.inv_make) { %> value="<%= locals.inv_make %>" <% } %>></label>
        <label for="invModel" for="inv" class="add">Model* <input type="text" id="model" name="inv_model" required <% if (locals.inv_model) { %> value="<%= locals.inv_model %>" <% } %>></label>
        <label for="invDescription" class="add">Description* <textarea id="description" name="inv_description" rows="5" cols="12" required ><% if (locals.inv_description) { %><%= locals.inv_description %> <% } %></textarea></label>
        <label for="invImage" class="add">Image* <input type="text" id="image" name="inv_image"  required <% if (locals.inv_image) { %> value="<%= locals.inv_image %>" <% } %>></label>
        <label for="invThumbnail" class="add">Thumbnail* <input type="text" id="thumbnail" name="inv_thumbnail" required <% if (locals.inv_thumbnail) { %> value="<%= locals.inv_thumbnail %>" <% } %>></label>
        <label for="invPrice" class="add">Price* <input type="number" id="price" name="inv_price" required <% if (locals.inv_price) { %> value="<%= locals.inv_price %>" <% } %>></label>
        <label for="invYear" class="add">Year* <input type="number" id="year" name="inv_year" required <% if (locals.inv_year) { %> value="<%= locals.inv_year %>" <% } %>></label>
        <label for="invMiles" class="add">Miles* <input type="number" id="miles" name="inv_miles" required <% if (locals.inv_miles) { %> value="<%= locals.inv_miles %>" <% } %>></label>
        <label for="invColor" class="add">Color* <input type="text" id="color" name="inv_color" required <% if (locals.inv_color) { %> value="<%= locals.inv_color %>" <% } %>></label>
        <input type="submit" value="Update Vehicle" name="submit" class="modifyButton" disabled>
        <input type="hidden" name="inv_id"
        <% if(locals.inv_id) { %> value="<%= locals.inv_id %>"
        <% } %>>
    </fieldset>
</form>

<script src="/js/inv-update.js"></script>